<!--The content below is only a placeholder and can be replaced.-->

<md-sidenav-container>
    <app-header></app-header>
    <div class="main-content">

        <section class="left-col">
            <md-card class="col-card">
                <md-card-content>
                    <h2>Info</h2>
                    <md-tab-group>
                        <md-tab label="About">
                            <div class="tab-content">
                                <p>Curabitur aliquet volutpat lorem vel elementum. Morbi eget maximus neque, mollis venenatis velit. Aenean et rhoncus nunc. Aenean nisi justo, facilisis non arcu volutpat, tempus bibendum arcu.</p>
                            </div>
                        </md-tab>
                        <md-tab label="Events">
                            <div class="tab-content">
                                <p>Curabitur nunc nulla, tristique eu neque aliquet, placerat euismod erat. Donec a sapien in turpis dignissim euismod. Vestibulum elementum interdum tellus. Cras tristique nibh ac magna maximus, sit amet consequat neque lacinia. Curabitur eu erat imperdiet dolor aliquam vestibulum molestie vel lacus.</p>
                            </div>
                        </md-tab>
                    </md-tab-group>
                </md-card-content>
            </md-card>
        </section>

        <section class="main-col">
            <md-card class="col-card">
                <md-card-content>
                    <h1>Welcome to {{title}}!</h1>
                    <p *ngIf="currentLocation">It looks like you're currently in: {{currentLocation.city}}, {{currentLocation.state}}</p>
                    <md-card *ngIf="result">
                        <h3 *ngIf="result">{{result.display_location.city}}</h3>
                        <p *ngIf="result">{{result.weather}}</p>
                        <p *ngIf="result">Currently: {{result.feelslike_string}}</p>
                        <p *ngIf="result">{{result.observation_time}}</p>
                    </md-card>
                    <md-card *ngIf="error">
                        <p *ngIf="error">{{error}}</p>
                    </md-card>
                    <md-card *ngIf="queryResults">
                        <p *ngIf="queryResults">{{queryResults}}</p>
                    </md-card>
                    <app-forecast-dashboard></app-forecast-dashboard>
                </md-card-content>
                <md-card-actions>
                    <button md-button>REMOVE</button>
                    <button md-button>CLEAR</button>
                </md-card-actions>
            </md-card>
        </section>

        <section class="right-col">
            <md-card class="col-card">
                <md-card-content>
                    <app-search></app-search>
                </md-card-content>
            </md-card>
        </section>

    </div>
</md-sidenav-container>