<!--<p>-->
  <!--main-nav works!-->
<!--</p>-->

<md-nav-list>
  <md-list-item>
    <a mdLine href="#">Home</a>
    <span md-icon-button>
        <md-icon>keyboard_arrow_right</md-icon>
    </span>
  </md-list-item>
  <md-list-item>
    <a mdLine href="#">Today's Weather</a>
    <span md-icon-button>
        <md-icon>keyboard_arrow_right</md-icon>
    </span>
  </md-list-item>
  <md-list-item>
    <a mdLine href="#">Weekly Forecast</a>
    <span md-icon-button>
        <md-icon>keyboard_arrow_right</md-icon>
    </span>
  </md-list-item>
  <md-list-item>
    <a mdLine href="#">Contact Us</a>
    <span md-icon-button>
        <md-icon>keyboard_arrow_right</md-icon>
    </span>
  </md-list-item>
</md-nav-list>