/* You can add global styles to this file, and also import other style files */
/*------------------------------------*\
  #APP CSS RESET
\*------------------------------------*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

html{ font-size: 10px }
html, body { margin: 0; padding: 0 }
body { font-size: 1.4rem }
a { text-decoration: none }
html, body, material-app, md-sidenav-container {
	margin: 0;
	width: 100%;
	height: 100%;
}

.main-content { padding: 2em; }