/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/_theming.scss";
@include mat-core();
$primary: mat-palette($mat-blue-grey, 800);
$accent: mat-palette($mat-cyan, 600, 100, 800);
$warn: mat-palette($mat-deep-orange, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);